<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
	<title>Qoute for the day</title>
	<meta name="description" content="Collection of quotes">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'quote/AmandaTemplate.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><span>(Django) </span> Quotes library</h1>
            <h3>Assigment - optional</h3>
            <div class="descr">
                <h2>Edit Page</h2>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            <div class="rows2">
                    Quote: <input type="text" name="quote" placeholder="{{ quote.quote }}" style="width: 830px;">
                </div>
                <div class="rows2">
                    Author: <input type="text" name="author" placeholder="{{ quote.author }}">
                </div>
                <div class="rows2">
                    <p>current category: {{quote.category_id.category}}</p>
                </div>
                <div class="rows2">
                    Category: <select name="categid">
                        {% for category in categories %}
                            <option value="{{category.id }}">{{ category.category}}</option>
                        {% endfor %}
                    </select>
                </div>
        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmail.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LinkedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
