<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
	<title>Qoute for the day</title>
	<meta name="description" content="Collection of quotes">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'quote/AmandaTemplate.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><span>(Django) </span> Quotes library</h1>
            <h3>Assigment - optional</h3>
            <div class="descr">
                <h2>User Favorites Page</h2>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            <h1>User Favorites Page</h1> 
            {% for quote in quote %}
            <div class='quote'>
                <h2>{{ quote.quote }}</h2>
            </div>
            <div class="other">
                <h4>{{ quote.author }}</h4>
                <p>Category: {{quote.category_id.category}}</p>
            </div>
            {% endfor %}
            
            
        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmail.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LinkedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
